.suggesstion-container{
    height: fit-content;
    padding: 1vmin;
    width: fit-content;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.suggesstion-container .contents{
    height: 3.5vmin;
    min-width: fit-content;
    background-color: rgb(237,237,237);
    border-radius: 0.85vmin;
    font-size: 1.75vmin;
    margin: 0 1vmin;
    padding: 0 1vmin;
    display: flex;
    align-items: center;
    font-weight: 450;
}
::-webkit-scrollbar{
    height: 0;
    visibility: hidden;
}